/*------------------------------------------------------------------------------
Buttons
------------------------------------------------------------------------------*/

button {
    border: none;
    margin: $size-1 0;
    padding: $size-1 $size-2;
    text-decoration: none;
    font-family: $font-family;
    font-size: $font-xs;
    font-weight: $font-900;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                border 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:last-child {
    margin: $size-1 0 0 0;
}
button:active {
    transform: scale(0.99);
}
// Primary Button
.btn-primary {
    background: hsl($hue $sat 0);
    color: $white;
    border: solid 4px hsl($hue $sat 0);
}

.btn-primary:hover,
.btn-primary:focus {
    $lght: 50%;
    background: hsl($hue $sat $lght);
    border: solid 4px hsl($hue $sat $lght);
}

// Secondary Button
.btn-secondary {
    $lght: 50%;
    background: transparent;
    border: solid 4px hsl($hue $sat $lght);
    color: hsl($hue $sat $lght);
}
.btn-secondary:hover,
.btn-secondary:focus {
    $lght: 50%;
    background: hsl($hue $sat $lght);
    color: $white;
}
// Tertiary Button
.btn-tertiary  {
    $lght: 60%;
    background: hsl($hue $sat $lght);
    border: solid 4px hsl($hue $sat $lght);
    color: $white;
}
.btn-tertiary:hover,
.btn-tertiary:focus {
    $lght: 60%;
    background: transparent;
    border: solid 4px hsl($hue $sat $lght);
    color: hsl($hue $sat $lght);
}

