@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600;900&display=swap');
@import '../styles/variables.scss';
@import '../styles/colors.scss';
@import '../styles/reset.scss';
@import '../styles/headings.scss';
@import '../styles/paragraphs.scss';
@import '../styles/list.scss';
@import '../styles/table.scss';
@import '../styles/buttons.scss';
@import '../styles/links.scss';



/*------------------------------------------------------------------------------
BASIC
------------------------------------------------------------------------------*/

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family;
    font-size: clamp($font-baseSize, $font-baseSize + 1vw, $font-baseLarger);
    line-height: $line-height;
    position: relative;
}

section, .section {
    padding: $size-4 0;
}
.section-wrapper {
    padding: $size-4 $size-2;
}