@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600;900&display=swap');


:root {
    //Typography
    --font-family: 'Urbanist', sans-serif;
    --font-300: 300;
    --font-400: 400;
    --font-900: 900;
    --font-baseSize: 14px;
    --font-xxl: calc(var(--font-baseSize) * 13);
    --font-xxl: calc(var(--font-baseSize) * 8);
    --font-xl: calc(var(--font-baseSize) * 5);
    --font-l: calc(var(--font-baseSize) * 3);
    --font-lm: calc(var(--font-baseSize) * 2.5);
    --font-m: calc(var(--font-baseSize) * 2);
    --font-ms: calc(var(--font-baseSize) * 1.5);
    --font-s: calc(var(--font-baseSize) * 1);
    --font-xs: calc(var(--font-baseSize) * 0.85);
    //Links Sizes
    --a: clamp(var(--font-xs), var(--font-xs) + 1vw, var(--font-s));
    //Heading Sizes
    --h1: clamp(var(--font-m), var(--font-m) + 1vw, var(--font-xl));
    --h2: clamp(var(--font-m), var(--font-m) + 1vw, var(--font-l));
    --h3: clamp(var(--font-s), var(--font-s) + 1vw, var(--font-m));
    --h4: clamp(var(--font-s), var(--font-s) + 1vw, var(--font-ms));
    --h5: clamp(var(--font-xs), var(--font-xs) + 1vw, var(--font-s));
    --h6: clamp(var(--font-xs), var(--font-xs) + 1vw, var(--font-s));
    --p: clamp(var(--font-xs), var(--font-xs) + 1vw, var(--font-s));
    //COLORS
    --clr-primary: #3b3b3b;
    --clr-secondary: #ffffff;
    --clr-lightgray: #fbfbfb;
    --clr-lightergray: #ececec;
    --clr-gray: #d3d3d3;
    --clr-darkgray: #bebebe;
    --clr-darkergray: #5a5a5a;
    --clr-accent: #861217;
    --clr-success: #25aa37;
    --clr-error: #aa2525;
    //REM SIZES

}

$colorDark: #131313;
$colorWhite: #FFF;
$hue: 0;
$sat: 0;
$lght: 100;

$size-005: 0.05rem;
$size-01: 0.1rem;
$size-025: 0.25rem;
$size-03: 0.33rem;
$size-05: 0.5rem;
$size-1: 1rem;
$size-15: 1.5rem;
$size-2: 2rem;
$size-25: 2.5rem;
$size-3: 3rem;
$size-4: 4rem;
$size-5: 5rem;
$size-6: 6rem;
$size-7: 7rem;
$size-8: 8rem;
$size-9: 9rem;
$size-100: 10rem;
$size-110: 12rem;
$size-130: 13rem;
$size-140: 14rem;
$size-150: 15rem;
$size-160: 16rem;
$size-170: 17rem;
$size-180: 18rem;
$size-190: 19rem;
$size-200: 20rem;

//Typography
$font-family: 'Urbanist', sans-serif;
$font-300: 300;
$font-400: 400;
$font-900: 900;
$font-baseSize: 14px;
$font-xxl: calc($font-baseSize * 13);
$font-xxl: calc($font-baseSize * 8);
$font-xl: calc($font-baseSize * 5);
$font-l: calc($font-baseSize * 3);
$font-lm: calc($font-baseSize * 2.5);
$font-m: calc($font-baseSize * 2);
$font-ms: calc($font-baseSize * 1.5);
$font-s: calc($font-baseSize * 1);
$font-xs: calc($font-baseSize * 0.85);
//Links Sizes
$a: clamp($font-xs, $font-xs + 1vw, $font-s);
//Heading Sizes
$h1: clamp($font-m, $font-m + 1vw, $font-xl);
$h2: clamp($font-m, $font-m + 1vw, $font-l);
$h3: clamp($font-s, $font-s + 1vw, $font-m);
$h4: clamp($font-s, $font-s + 1vw, $font-ms);
$h5: clamp($font-xs, $font-xs + 1vw, $font-s);
$h6: clamp($font-xs, $font-xs + 1vw, $font-s);
$p: clamp($font-xs, $font-xs + 1vw, $font-s);

@media only screen and (max-width: 1024px) {
     :root {
        --font-xxl: calc(var(--font-baseSize) * 9);
        --font-xxl: calc(var(--font-baseSize) * 6);
        --font-xl: calc(var(--font-baseSize) * 4);
        --font-l: calc(var(--font-baseSize) * 2.5);
        --font-lm: calc(var(--font-baseSize) * 2.1);
        --font-m: calc(var(--font-baseSize) * 1.8);
        --font-ms: calc(var(--font-baseSize) * 1.3);
        --font-s: calc(var(--font-baseSize) * 0.8);
        --font-xs: calc(var(--font-baseSize) * 0.6);
    }
}

@media only screen and (max-width: 400px) {
     :root {
        --font-xxl: calc(var(--font-baseSize) * 5);
        --font-xxl: calc(var(--font-baseSize) * 3.5);
        --font-xl: calc(var(--font-baseSize) * 2.6);
        --font-l: calc(var(--font-baseSize) * 2);
        --font-lm: calc(var(--font-baseSize) * 1.6);
        --font-m: calc(var(--font-baseSize) * 1.3);
        --font-ms: calc(var(--font-baseSize) * 1);
        --font-s: calc(var(--font-baseSize) * 0.85);
        --font-xs: calc(var(--font-baseSize) * 0.7);
    }
}


/*------------------------------------------------------------------------------
BASIC
------------------------------------------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-family);
    font-size: clamp(14px, 14px + 1vw, 18px);
    line-height: 1.6;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    /*     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr; */
}

ul,
li {
    list-style-type: none;
}


/*------------------------------------------------------------------------------
Headings
------------------------------------------------------------------------------*/


/* h1,h2,h3,h4,h5,h6{
    margin: 0 0 var(--size-2) 0;
} */

h1,
h2,
h3 {
    font-weight: var(--font-900);
}

h4,
h5,
h6 {
    font-weight: var(--font-400);
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

.karten h3 {
    color: var(--clr-darkgray);
}


.section {
    padding: $size-4 0;
}