@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600;900&display=swap');


:root {
    /*Typography*/
    --font-family: 'Urbanist', sans-serif;
    --font-300: 300;
    --font-400: 400;
    --font-900: 900;
    --font-baseSize: 14px;
    --font-xxl: calc(var(--font-baseSize) * 13);
    --font-xxl: calc(var(--font-baseSize) * 8);
    --font-xl: calc(var(--font-baseSize) * 5);
    --font-l: calc(var(--font-baseSize) * 3);
    --font-lm: calc(var(--font-baseSize) * 2.5);
    --font-m: calc(var(--font-baseSize) * 2);
    --font-ms: calc(var(--font-baseSize) * 1.5);
    --font-s: calc(var(--font-baseSize) * 1);
    --font-xs: calc(var(--font-baseSize) * 0.85);
    /*Links Sizes*/
    --a: clamp(var(--font-xs), var(--font-xs) + 1vw, var(--font-s));
    /*Heading Sizes*/
    --h1: clamp(var(--font-m), var(--font-m) + 1vw, var(--font-xl));
    --h2: clamp(var(--font-m), var(--font-m) + 1vw, var(--font-l));
    --h3: clamp(var(--font-s), var(--font-s) + 1vw, var(--font-m));
    --h4: clamp(var(--font-s), var(--font-s) + 1vw, var(--font-ms));
    --h5: clamp(var(--font-xs), var(--font-xs) + 1vw, var(--font-s));
    --h6: clamp(var(--font-xs), var(--font-xs) + 1vw, var(--font-s));
    --p: clamp(var(--font-xs), var(--font-xs) + 1vw, var(--font-s));
    /*COLORS*/
    --clr-primary: #3b3b3b;
    --clr-secondary: #ffffff;
    --clr-lightgray: #fbfbfb;
    --clr-lightergray: #ececec;
    --clr-gray: #d3d3d3;
    --clr-darkgray: #bebebe;
    --clr-darkergray: #5a5a5a;
    --clr-accent: #861217;
    --clr-success: #25aa37;
    --clr-error: #aa2525;
    /*REM SIZES*/
    --size-005: 0.05rem;
    --size-01: 0.1rem;
    --size-025: 0.25rem;
    --size-03: 0.33rem;
    --size-05: 0.5rem;
    --size-1: 1rem;
    --size-15: 1.5rem;
    --size-2: 2rem;
    --size-25: 2.5rem;
    --size-3: 3rem;
    --size-4: 4rem;
    --size-5: 5rem;
    --size-6: 6rem;
    --size-7: 7rem;
    --size-8: 8rem;
    --size-9: 9rem;
    --size-100: 10rem;
    --size-110: 12rem;
    --size-130: 13rem;
    --size-140: 14rem;
    --size-150: 15rem;
    --size-160: 16rem;
    --size-170: 17rem;
    --size-180: 18rem;
    --size-190: 19rem;
    --size-200: 20rem;
}

@media only screen and (max-width: 1024px) {
     :root {
        --font-xxl: calc(var(--font-baseSize) * 9);
        --font-xxl: calc(var(--font-baseSize) * 6);
        --font-xl: calc(var(--font-baseSize) * 4);
        --font-l: calc(var(--font-baseSize) * 2.5);
        --font-lm: calc(var(--font-baseSize) * 2.1);
        --font-m: calc(var(--font-baseSize) * 1.8);
        --font-ms: calc(var(--font-baseSize) * 1.3);
        --font-s: calc(var(--font-baseSize) * 0.8);
        --font-xs: calc(var(--font-baseSize) * 0.6);
    }
}

@media only screen and (max-width: 400px) {
     :root {
        --font-xxl: calc(var(--font-baseSize) * 5);
        --font-xxl: calc(var(--font-baseSize) * 3.5);
        --font-xl: calc(var(--font-baseSize) * 2.6);
        --font-l: calc(var(--font-baseSize) * 2);
        --font-lm: calc(var(--font-baseSize) * 1.6);
        --font-m: calc(var(--font-baseSize) * 1.3);
        --font-ms: calc(var(--font-baseSize) * 1);
        --font-s: calc(var(--font-baseSize) * 0.85);
        --font-xs: calc(var(--font-baseSize) * 0.7);
    }
}


/*------------------------------------------------------------------------------
BASIC
------------------------------------------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-family);
    font-size: clamp(14px, 14px + 1vw, 18px);
    line-height: 1.6;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr; */
}

ul,
li {
    list-style-type: none;
}


/*------------------------------------------------------------------------------
Headings
------------------------------------------------------------------------------*/


/* h1,h2,h3,h4,h5,h6{
    margin: 0 0 var(--size-2) 0;
} */

h1,
h2,
h3 {
    font-weight: var(--font-900);
}

h4,
h5,
h6 {
    font-weight: var(--font-400);
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

.karten h3 {
    color: var(--clr-darkgray);
}


/* @media only screen and (max-width: 400px) {
    .big-title h1 {
        word-wrap: break-word;
        max-inline-size: 11ch;
    }
} */


/*------------------------------------------------------------------------------
Header 
------------------------------------------------------------------------------*/

header {
    /* height: calc(var(--size-4) * 2); */
    color: var(--clr-gray);
    background-color: #131313;
    padding: var(--size-2);
}


/*------------------------------------------------------------------------------
Footer
------------------------------------------------------------------------------*/

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-gray);
    background-color: #131313;
    padding: var(--size-2);
    width: 100%;
}

footer a {
    color: var(--clr-secondary);
}

.footer-content {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-caption {
    color: var(--clr-darkergray)!important;
    font-size: var(--font-xs);
}

@media only screen and (max-width: 400px) {
    .footer-content {
        width: 100%;
        margin-bottom: var(--size-05);
    }
}

@media only screen and (min-width: 401px) and (max-width: 560px) {
    footer {
        align-items: flex-start;
        flex-direction: column;
    }
    .footer-content {
        width: 60%;
        margin-bottom: var(--size-1);
    }
}


/*------------------------------------------------------------------------------
Links
------------------------------------------------------------------------------*/

a {
    text-decoration: none;
    color: var(--clr-primary);
    cursor: pointer;
    font-size: var(--a);
}

a:hover {
    color: var(--clr-darkergray);
}

.card a:hover h3 {
    color: var(--clr-lightgray)!important;
}


/*------------------------------------------------------------------------------
Containers
------------------------------------------------------------------------------*/

.container {
    width: 100%;
    padding: var(--size-5);
    min-height: 100%;
}


/* .index-col>* {
    margin: 0 var(--size-1);
} */

.content {
    display: grid;
    place-items: center;
    text-align: left;
}

.content-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--size-2);
}

.index-content {
    /*     min-height: calc(100vh - calc(var(--size-1) * 2)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-6);
}

.index-col {
    display: grid;
    grid-template-columns: 2fr 1fr;
    flex-wrap: wrap;
    width: 50%;
}

.content-bestellen {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.konto-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 560px) {
    .container {
        padding: var(--size-2);
    }
    .content {
        display: block;
    }
    .content-header {
        align-items: flex-start;
        flex-direction: column;
    }
    .content-bestellen {
        flex-direction: column;
    }
    .index-col {
        grid-template-columns: 1fr;
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .index-col {
        grid-template-columns: 3fr 1fr;
        width: 100%;
    }
}


/*------------------------------------------------------------------------------
TABLE
------------------------------------------------------------------------------*/

.sort {
    display: flex;
    justify-content: flex-end;
    margin: var(--size-05);
}

.sorting {
    color: var(--clr-lightgray);
    padding: var(--size-05);
}

table {
    margin-bottom: var(--size-4);
    width: 100%;
}

table {
    text-align: left;
    border-collapse: collapse;
}

tr,
th,
td {
    text-align: left;
    border-collapse: collapse;
    border: 1px solid var(--clr-darkergray);
}

tr {
    width: 100%;
    height: 100%;
}

th {
    background: var(--clr-primary);
    padding: var(--size-1);
    font-size: min(100%, var(--font-baseSize));
    color: var(--clr-lightgray);
}

td {
    padding: var(--size-1);
    border-bottom: 1px solid var(--clr-darkergray);
}

.table-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bestell-uebersicht {
    width: 75%;
    border: none;
}

.bestell-uebersicht tr,
.bestell-uebersicht th,
.bestell-uebersicht td,
.bestell-uebersicht td:nth-child(2),
.bestell-uebersicht td:nth-child(3),
.bestell-uebersicht td:nth-child(4) {
    border: none;
}

.bestell-uebersicht td:nth-child(3),
.bestell-uebersicht td:nth-child(4) {
    width: 15%;
}

.bestell-uebersicht th {
    background: none;
    color: var(--clr-primary);
    text-transform: uppercase;
}

.bestell-uebersicht th:last-child {
    display: none;
}

.bestell-uebersicht td {
    border-right: 1px solid var(--clr-darkergray);
}

.bestell-uebersicht th:nth-child(2),
.bestell-uebersicht td:nth-child(2) {
    min-width: var(--size-4);
}


/* .bestell-uebersicht th:first-child,
.bestell-uebersicht td:first-child {
    max-width: var(--size-4);
} */

@media only screen and (max-width:560px) {
    .bestell-uebersicht {
        width: 100%;
    }
    .bestell-uebersicht td {
        border: none;
    }
    thead {
        display: none;
    }
    td {
        border: none;
        display: flex;
        flex-direction: column;
    }
    td::before {
        padding: var(--size-1) var(--size-1) var(--size-1) 0;
        font-weight: var(--font-900);
        color: var(--clr-primary);
        text-transform: uppercase;
        content: attr(data-label);
        word-break: break-word;
    }
    td:nth-child(3)::before {
        display: none;
    }
    tr {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: none;
        border-bottom: solid 1px var(--clr-lightergray);
    }
    .bestell-uebersicht td:nth-child(3),
    .bestell-uebersicht td:nth-child(4) {
        width: 100%;
    }
}

@media only screen and (min-width: 561px) and (max-width:1024px) {
    .bestell-uebersicht {
        width: 100%;
    }
}


/*------------------------------------------------------------------------------
CARDS
------------------------------------------------------------------------------*/

.card {
    background: var(--clr-darkgray);
    padding: var(--size-2);
    color: var(--clr-primary);
    margin: var(--size-05);
}

:is(.index-content) .card {
    --width: min(20vw, 150px);
    flex: 1 1 var(--width);
    flex-wrap: wrap;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-title h4 {
    display: none;
    color: var(--clr-darkergray);
}


/*------------------------------------------------------------------------------
LOGO
------------------------------------------------------------------------------*/

.logo {
    color: var(--clr-lightgray);
}


/*------------------------------------------------------------------------------
Buttons
------------------------------------------------------------------------------*/

.button,
button,
input[type=button],
input[type=submit],
input[type=reset] {
    padding: var(--size-1) var(--size-3);
    text-transform: uppercase;
    background-color: var(--clr-primary);
    border: none;
    cursor: pointer;
    color: var(--clr-secondary);
    text-decoration: none;
    text-align: center;
    font-weight: var(--font-400);
    letter-spacing: 1.1px;
    outline: none;
}

.button:hover,
button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: var(--clr-darkergray);
    color: var(--clr-lightgray);
}

.btn-secondary {
    padding: var(--size-1) var(--size-3);
    /* 	margin:0 var(--size-5); */
    background-color: transparent;
    border: solid 2px var(--clr-accent);
    cursor: pointer;
    color: var(--clr-primary);
    text-decoration: none;
    text-align: center;
}

.btn-secondary:hover {
    background-color: var(--clr-accent);
    color: var(--clr-lightgray);
}

.edit_form button {
    color: var(--clr-primary);
    background: var(--clr-secondary);
    border: 2px solid var(--clr-darkergray);
}

.edit_form button:hover {
    color: var(--clr-secondary);
    background: var(--clr-primary);
    border: 2px solid var(--clr-primary);
}

@media only screen and (max-width: 560px) {
    .button,
    button,
    input[type=button],
    input[type=submit],
    input[type=reset] {
        padding: var(--size-1) var(--size-2);
    }
    .button {
        width: 100%;
        margin: var(--size-05) 0;
    }
}

@media only screen and (min-width: 561px) {
    .button {
        width: 100%;
    }
}


/*------------------------------------------------------------------------------
INPUTS
------------------------------------------------------------------------------*/

label {
    display: block;
    margin-bottom: var(--size-025);
    font-size: var(--h6);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--clr-darkergray);
}

input {
    margin-bottom: var(--size-1);
    padding: var(--size-1);
    border: none;
    background: var(--clr-lightergray);
}

input:focus,
input:focus-visible {
    outline: 2px solid var(--clr-darkgray);
}

.kontaktdetails input:nth-child(14) {
    margin-bottom: var(--size-3);
}

.inputHeading {
    text-align: left;
    font-size: var(--font-m);
    color: var(--clr-primary)!important;
    background-color: transparent!important;
    font-weight: var(--font-900);
}

@media only screen and (max-width: 560px) {
    input {
        background: var(--clr-lightergray);
    }
}

@media only screen and (max-width: 1024px) {}


/*------------------------------------------------------------------------------
Forms
------------------------------------------------------------------------------*/

form {
    padding: var(--size-2);
}

.edit_form {
    padding: 0;
}

.export-form {
    padding: 0;
    background: none;
}

.login-form {
    display: grid;
    place-items: center;
    margin: var(--size-2);
    min-width: 50%;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.bestellung {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*     margin: var(--size-3); */
    background: rgba(0, 0, 0, 0.05);
}

.bestellAngaben {
    padding: var(--size-2);
    flex: 1 1 25%;
    flex-wrap: wrap;
    position: relative;
}

.bestellAngaben:nth-child(1) {
    background: rgba(0, 0, 0, 0.03);
}

.bestellAngaben:nth-child(3) {
    background: rgba(0, 0, 0, 0.03);
}

.kontaktdetails {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

@media only screen and (max-width: 560px) {
    form {
        padding: 0;
        /*     background: rgba(0, 0, 0, 0.05); */
    }
    .bestellung {
        display: grid;
        margin: 0;
    }
    .bestellAngaben:nth-child(even) {
        background: rgba(0, 0, 0, 0.1);
    }
    .bestellAngaben:nth-child(odd) {
        background: rgba(0, 0, 0, 0.03);
    }
    .kontaktdetails {
        width: 100%;
    }
}

@media only screen and (min-width: 561px) and (max-width: 1024px) {
    .bestellung {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .kontaktdetails {
        width: 100%;
    }
}


/*------------------------------------------------------------------------------
Kontoübersicht
------------------------------------------------------------------------------*/

.sidebar {
    display: flex;
    width: 100%;
}

.uebersicht {
    margin-bottom: var(--size-2);
    max-width: 50%;
}

.kundenkonto_title {
    display: flex;
    justify-content: space-between;
}

.cta-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*     grid-template-rows: repeat(2, 1fr); */
    gap: var(--size-2);
    margin-bottom: var(--size-3);
}

.cta-area {
    display: grid;
    place-items: center;
    padding: var(--size-4);
}

.cta-area:nth-child(1) {
    background: var(--clr-lightergray);
}

.cta-area:nth-child(2) {
    background: var(--clr-lightergray);
}

.cta-area:hover {
    background: var(--clr-lightgray);
}

.data-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-2);
}

.data-area {
    padding: 0 var(--size-3);
    border-left: 2px solid var(--clr-lightergray);
    position: relative;
}

@media only screen and (max-width: 560px) {
    .cta-section {
        grid-template-columns: 1fr;
    }
    .data-section {
        margin-bottom: var(--size-3);
        grid-template-columns: 1fr;
    }
    .cta-area {
        padding: var(--size-2);
    }
}

@media only screen and (min-width: 561px) and (max-width: 1024px) {
    .cta-area {
        padding: var(--size-3);
    }
}


/*------------------------------------------------------------------------------
Weihnachtskarten
------------------------------------------------------------------------------*/


/* #karte1   { background-image:url("img/karte1.jpg");   } */

img {
    max-width: 100%;
    height: auto;
}

.preview-karte {
    max-width: 100%!important;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--size-1);
}

.weihnachtskarten-vorschau {
    display: flex;
    flex-wrap: wrap;
}

.karten {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: calc(50% - calc(var(--size-1)));
}

.karten:nth-child(1),
.karten:nth-child(3) {
    margin-right: var(--size-1);
}

.nameForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--size-1);
}

.nameForm label {
    margin: 0 var(--size-1);
}

.nameForm input {
    margin: 0;
}

.auswahl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: var(--size-1);
}

.checkboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}