@import '../styles/variables.scss';


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $colorDark; 
    flex-direction: column;

}
.nav {
    $hue: 50;
    $lght: 50;
    padding: $size-1;
    background: hsl($hue $sat $lght);
    width: 100%;
    min-height: $size-3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link {
    $lght: 75;
    margin: 0 1rem;
    color: hsl($hue $sat $lght);
    text-decoration: none;
}
.nav-link:hover {
    $lght: 100;
    color: hsl($hue $sat $lght);
}
.nav-link:first-child {
    margin: 0 $size-1 0 0;
}
.nav-link:last-child {
    margin: 0 0 0 $size-1;
}
.logo {
    font-weight: $font-900;
    font-size: $font-m;
    color: hsl($hue $sat $lght);
    text-transform: uppercase;
    min-height: $size-5;
    display: flex;
    align-items: center;
}