@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600;900&display=swap');

$colorDark: #131313;
$colorWhite: #FFF;
$hue: 0;
$sat: 0;
$lght: 100;

$size-005: 0.05rem;
$size-01: 0.1rem;
$size-025: 0.25rem;
$size-03: 0.33rem;
$size-05: 0.5rem;
$size-1: 1rem;
$size-15: 1.5rem;
$size-2: 2rem;
$size-25: 2.5rem;
$size-3: 3rem;
$size-4: 4rem;
$size-5: 5rem;
$size-6: 6rem;
$size-7: 7rem;
$size-8: 8rem;
$size-9: 9rem;
$size-100: 10rem;
$size-110: 12rem;
$size-130: 13rem;
$size-140: 14rem;
$size-150: 15rem;
$size-160: 16rem;
$size-170: 17rem;
$size-180: 18rem;
$size-190: 19rem;
$size-200: 20rem;

//Typography
$font-family: 'Urbanist', sans-serif;
$font-300: 300;
$font-400: 400;
$font-900: 900;
$font-baseSize: 14px;
$font-xxl: calc($font-baseSize * 13);
$font-xxl: calc($font-baseSize * 8);
$font-xl: calc($font-baseSize * 5);
$font-l: calc($font-baseSize * 3);
$font-lm: calc($font-baseSize * 2.5);
$font-m: calc($font-baseSize * 2);
$font-ms: calc($font-baseSize * 1.5);
$font-s: calc($font-baseSize * 1);
$font-xs: calc($font-baseSize * 0.85);
//Links Sizes
$a: clamp($font-xs, $font-xs + 1vw, $font-s);
//Heading Sizes
$h1: clamp($font-m, $font-m + 1vw, $font-xl);
$h2: clamp($font-m, $font-m + 1vw, $font-l);
$h3: clamp($font-s, $font-s + 1vw, $font-m);
$h4: clamp($font-s, $font-s + 1vw, $font-ms);
$h5: clamp($font-xs, $font-xs + 1vw, $font-s);
$h6: clamp($font-xs, $font-xs + 1vw, $font-s);
$p: clamp($font-xs, $font-xs + 1vw, $font-s);

@media only screen and (max-width: 1024px) {

       $font-xxl: calc($font-baseSize * 9);
       $font-xxl: calc($font-baseSize * 6);
       $font-xl: calc($font-baseSize * 4);
       $font-l: calc($font-baseSize * 2.5);
       $font-lm: calc($font-baseSize * 2.1);
       $font-m: calc($font-baseSize * 1.8);
       $font-ms: calc($font-baseSize * 1.3);
       $font-s: calc($font-baseSize * 0.8);
       $font-xs: calc($font-baseSize * 0.6);

}

@media only screen and (max-width: 400px) {

       $font-xxl: calc($font-baseSize * 5);
       $font-xxl: calc($font-baseSize * 3.5);
       $font-xl: calc($font-baseSize * 2.6);
       $font-l: calc($font-baseSize * 2);
       $font-lm: calc($font-baseSize * 1.6);
       $font-m: calc($font-baseSize * 1.3);
       $font-ms: calc($font-baseSize * 1);
       $font-s: calc($font-baseSize * 0.85);
       $font-xs: calc($font-baseSize * 0.7);

}


.hero {
    width: 100vw;
    height: 70vh;
    position: relative;

    .heroImage {
        background-image: url('../assets/hero_1080x1920_mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        position: relative;
    }

    @media only screen and (min-width: 1024px) {
        .heroImage {
            background-image: url('../assets/hero_1920x1080_desktop.jpg');
        }
    }

    .heroImage:after {
        position: absolute;
        top:0;
        left: 0;
        content: '';
        background: rgba(0,0,0,0.70);
        width: 100%;
        height: 100%;
    }

    .heroContent {
       position: absolute;
       top:50%;
       left: 50%;
       transform: translate(-50%,-50%);
       text-align: center;

       color: hsl($hue $sat $lght);

       h1 {
           font-size: $font-l;
           line-height: 1;
           margin-bottom: $size-1;
           text-transform: uppercase;
       }

       h2 {
           font-weight: $font-300;
           font-size: $font-ms;
           line-height: 1;
           margin-bottom: $size-2;
           text-transform: uppercase;
       }

       p {
            font-size: $font-s;
            line-height: 1.3;
       }
    }

}
